.pagination {
  padding-top: 60px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  outline: none;

  font-size: 45px;
  line-height: 45px;
  color: #BDBDBD;
}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus{
  color: #333333;
  border-color: #47ccde;
  outline: none ;
}



.project_title{
  padding-bottom: 20px;
  font-weight: 300;
  font-size: 40px;
  line-height: 50px;

  /* Gray 4 */

  color: #BDBDBD;
}

.project_short_description{
  padding: 30px;
  font-weight: 300;
  font-size: 16px;
  line-height: 25px;
  /* or 156% */


  color: #000000;
}


.project_item{
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.learn_more{
  padding-top: 60px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.project_title_image{
  border-radius: 5px;
  width: 670px;
  height: 345px;
}