.gallery
  display: flex
  flex-wrap: wrap
  align-items: center
  justify-content: space-around




.project_title_image
  border-radius: 5px
  width: 250px
  height: 320px

.project_item
  padding: 20px


.pagination
  padding-top: 60px
  display: flex
  align-items: center
  justify-content: space-around
  outline: none

  font-size: 45px
  line-height: 45px
  color: #BDBDBD


.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus
  color: #333333
  border-color: #47ccde
  outline: none

