
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/* dosis-regular - latin */
@font-face {
    font-family: 'Dosis';
    font-style: normal;
    font-weight: 400;
    src: local(''),
    url('fonts/dosis-v19-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('fonts/dosis-v19-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* dosis-600 - latin */
@font-face {
    font-family: 'Dosis';
    font-style: normal;
    font-weight: 600;
    src: local(''),
    url('fonts/dosis-v19-latin-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('fonts/dosis-v19-latin-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* dosis-800 - latin */
@font-face {
    font-family: 'Dosis';
    font-style: normal;
    font-weight: 800;
    src: local(''),
    url('fonts/dosis-v19-latin-800.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('fonts/dosis-v19-latin-800.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

html{
    box-sizing: border-box;
}
*, *::before, *:after{
    box-sizing: inherit;
}

body{
    font-family: 'Dosis', serif;
    font-style: normal;
    font-size: 20px;
    line-height: 1.2;
    font-weight: normal;
    color: rgba(51, 51, 51, 1);

    -ms-overflow-style: none;
}

body::-webkit-scrollbar { width: 0; }

.element {  }

.wrapper{
    max-width: 1170px;
    margin: 0 auto;
}

#root{
    height: 100vh;

}
/* header styles starts */

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -ms-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
    background-color: white;
}

.header_wrapper{
    display: flex;
    flex-wrap: wrap;
    padding-top: 25px;
    padding-bottom: 25px;
    align-items: center;
    justify-content: space-between;
}



.header_list{
    display: flex;
    flex-wrap: wrap;
}

.header_item{
    margin-right: 60px;
}

.header_item:last-child{
    margin-right: 0;
}

.header_link{
    font-size: 20px;
    line-height: 12px;
    color: rgba(51, 51, 51, 1);
    text-decoration: none;
}

.header_logo-link{
    font-size: 16px;
    line-height: 12px;
    color: rgba(51, 51, 51, 1);
    text-decoration: none;
}

.header_logo_pic{
    display: block;
    margin-left: auto;
    margin-right: auto
}

.header_link:hover, .header_link:focus, .header_link:active{
    opacity: 75%;
    text-decoration: overline underline;
}
/* header styles end */

/* intro styles start */

.intro{
    min-height: 100vh;
    padding-top: 100px;
    width: 100%;

}


.intro_title{
    float: left;
    max-width: 30%;
    padding-top: 30%;
}

.slide_number {
    font-size: 45px;
    line-height: 45px;
    color: #BDBDBD;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-top: 200px;
}

.intro_title_fist_number {
}

.intro_title_septum{
    font-size: 45px;
    line-height: 45px;
    color: black;

    padding: 20px;
}


.intro_slider{
    float: right;
    width: 770px;
    max-width: 70%;
    max-height: 820px;
    border: 0 !important;
    outline: none;
}



.intro_first_title{
    font-weight: 300;
    font-size: 64px;
    line-height: 64px;
    color: #BDBDBD;
    max-width: 270px;

}

.intro_second_title{
    font-weight: bold;
    font-size: 64px;
    line-height: 64px;
    color: #333333;
    max-width: 330px;
}

/* about company styles start */

.about_company{
    padding-top: 100px;
    height: 100vh;
    max-height: 465px;
}
.about_company_title{
    padding-bottom: 20px;
    font-weight: 300;
    font-size: 64px;
    line-height: 64px;

    color: #BDBDBD;
}
.about_Company_text{
    max-width: 400px;

    font-weight: 300;
    font-size: 16px;
    line-height: 25px;
    margin-bottom: 20px;

    color: #000000;
}
.learn_more{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}
.learn_more_text{
    letter-spacing: 0.2em;
    text-transform: uppercase;
}

.about_company_part_one{
    float: right;
    width: 30%;
}

.about_company_part_two{
    float: left;
    width: 70%;
}

.learn_more_image{
    margin-right: 30px;
}

/* about company styles end */

/* main tasks styles start */
.main_tasks{
    padding-top: 100px;
    height: 100vh;
    max-height: 400px;
}


.main_tasks_title{
    font-weight: 300;
    font-size: 64px;
    line-height: 64px;
    color: rgba(189, 189, 189, 1);
}

.main_tasks_number{
    font-weight: 900;
    font-size: 200px;
    line-height: 239px;
    max-width: 120px;


    color: rgba(189, 189, 189, 1);
}

.main_tasks_text{
    max-width: 400px;
    font-weight: normal;
    font-size: 22px;
    line-height: 36px;
    color: #333333;
}

.main_tasks_second_task{
    float: right;
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.main_tasks_first_task{
    float: left;
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

}
/* main tasks styles end */

/* our projects styles start */

.our_projects{
    padding-top: 100px;
    height: 100vh;
    max-height: 600px;
}

.projects_title{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.projects_title_all_projects{
    font-size: 12px;
    line-height: 12px;
    /* identical to box height, or 100% */
    padding: 15px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #FFFFFF;
    background: #333333;
}

.our_projects_title{
    font-weight: 300;
    font-size: 64px;
    line-height: 64px;
    color: rgba(189, 189, 189, 1);
}
.our_project_sub_title{
    font-size: 15px;
    color: #333333;
    bottom: 0;
}

.our_projects_slider{
    margin-top: 60px;
}

.slick-slide{
    margin-right: 10px;
}
.our_project_slide:hover .our_project_slide_text{
    display: block;
}


.our_project_slide{
    position: relative;
    display: block;
}

.our_project_slide_text{
    display: none;
    position: absolute;
    font-size: 64px;
    line-height: 64px;
    color: rgba(189, 189, 189, 1)
}

/* our projects styles end */

/* call back styles start */

.call_back{
    margin-top: 100px;
    height: 100vh;
    max-height: 600px;
}

.call_back_title{
    font-weight: 300;
    font-size: 64px;
    line-height: 64px;

    color: #BDBDBD;
}

input{
    width: 391px;
    height: 46px;
    margin-bottom: 15px;
    background: #F3F3F3;
}

.call_back_items{
    margin-top: 50px;
    display: flex;
}
/* call back styles end */

/* footer styles start */
.footer{
    margin-top: 100px;

    background: #2C2C2C;
    color: rgba(255, 255, 255, 1);
    font-size: 1.2rem;
}

.footer_items{
    display: flex;
    justify-content: space-between;
    padding-top: 60px;
}


.footer_title{
    font-weight: 550;
    font-size: 1.5rem;
}

.footer_item{
    list-style-type: none;
    padding: 10px;
}

.footer_image_properties{
    margin: 5px;
}

hr {
    border: none; /* Убираем границу */
    background-color: rgba(189, 189, 189, 1); /* Цвет линии */
    color: rgba(189, 189, 189, 1); /* Цвет линии для IE6-7 */
    height: 2px; /* Толщина линии */
}
/* footer styles end */
/* author_block styles start */
.author_block{
    font-size: 12px;
    line-height: 22px;
    /* identical to box height, or 183% */

    display: flex;
    align-items: center;
    justify-content: center;

    color: rgba(200, 200, 200, 0.5);
}

.author_image{
    margin-left: 5px;
}
/* author_block styles  end */


.slick-list{
    height: auto;
}